header {
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
	overflow:hidden;
	position: Relative;
	
}
  		/*	.bordered {
  			width: 900px;
   			height: 560px;
   			padding: 20px;
    			border: 0px black;
  			}*/


footer 
	
	{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	  
}

#formContainer{
	border: 1px solid black;
	width: 25%;
	text-align: center;
	margin: auto;
	padding: 10px;
}

div.leftnav {
	overflow:hidden !important;
		width:182px;
		height: 100%; /*320px*/
		background:#ccc;
		float:left;
		left:5px;
		/*top:25px;*/
		bottom: 0;
		padding:3px;
		position:/*fixed;*/sticky !important;
		
		height: 100%;
		

		}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

	
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gray;
}

.active {
    background-color: #4CAF50;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  
}

.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}
.column.side {
    width: 75%;
}

/*div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}



 